import { getRandomColor } from '../utils/map-color/mapColor';

const exampleLevel = {
  width             : 500,
  height            : 500,

  characterStartingX: 0,
  characterStartingY: 0,

  regions           : [
    {
      x: 0,
      y: 300,
      color: 'red'
    },
    {
      x: 300,
      y: 0,
      color: 'green'
    },
    {
      x: 300,
      y: 300,
      color: getRandomColor()
    },
  ]
};

export default exampleLevel;
