const exampleLevel = {
  worldWidth        : 500,
  worldHeight       : 500,

  characterStartingX: 0,
  characterStartingY: 0,

  regions           : [
    [300, 0, 'red'],
    [0, 300, 'green'],
    [300, 300, 'blue']
  ]
};

export default exampleLevel;
