import { getRandomPrimaryColorString } from '../utils/map-color/mapColor';
import {
  generateRandomRegionConfig,
  generateListOfRandomRegionConfigs
} from '../utils/randomize-regions/randomizeRegions';

const tileSize = 100;

const levelDimensions = {
  width: 5,
  height: 3
};

const characterStartingPosition = {
  x: 0,
  y: 0
};

const regionGeneratorProps = {
  level: levelDimensions,
  tileSize
};

const regionListGeneratorProps = {
  ...regionGeneratorProps,
  numRegions: 4,
  existingTiles: [characterStartingPosition]
};

const levelConfig = {
  /*
    Size (width/height) of the level in tiles.

    (Levels don't have (x, y) position, since they always draw from (0, 0).)
  */
  width             : levelDimensions.width,
  height            : levelDimensions.height,

  /*
    (x, y) position where the character will start when the level loads.
  */
  characterStartingX: characterStartingPosition.x,
  characterStartingY: characterStartingPosition.y,

  /*
    List of config objects for colored regions to populate in the level.

    These can be set manually, or randomized to varying degrees:
      - A region's color can each be randomized
      - A region can be randomly generated
      - A list of regions can be randomly generated
  */
  regions           : [
    {
      x: 0,
      y: 3,
      color: 'red'
    },
    {
      x: 3,
      y: 3,
      color: getRandomPrimaryColorString()
    },
    // generateRandomRegionConfig(regionGeneratorProps),
    // ...generateListOfRandomRegionConfigs(regionListGeneratorProps)
  ]
};

export default levelConfig;
